h1 {
    background-color:blue;
    color:white;
    text-align: center;
}

h2 {
    background-color:green;
    color:white;
    text-align: center;
}

h3 {
    background-color: Grey;
    color: pink;
    text-align: left;
    font-display: center; 
}

footer {
    background-color: black;
    color:white;
    font-size: 15px;
    padding: 5px;
}

body {
    background-color: burlywood;
}